<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<appSettings>

		<add key="RutaPagina" value="http://consulcaso.consultandoltda.com" />

		<!--  
    
    11111111111111111111111111111111111111111conexion Base de datos consulbase71 go dady
    
    <add key="RutaPagina" value="http://consulcaso.consultandoltda.com" />
    
     
     222222222222222222222222222222222222222222conexion Base de datos irma servidor local
          
     
    <add key="RutaPagina" value="http://localhost:1852/ConsulCaso7%20C" />


33333333333333333333333333333333333333333333conexion Base de datos consulbaseprueba en go dady

  <add key="RutaPagina" value="http://pruebas.consultandoweb.com" />
       
       
       
    -->
		<add key="RutaBaseDeDatos" value="consulbase71.db.7425285.hostedresource.com" />
		<add key="NombreBase" value="consulbase71" />
		<add key="contrasenabase" value="micarrro2236A" />
		<add key="usuariobase" value="consulbase71" />
	</appSettings>
	<connectionStrings>
		<clear />
		<add name="LocalSqlServer" connectionString="Data Source=SQL5109.site4now.net;Initial Catalog=db_a7e850_consulbase73;User ID=db_a7e850_consulbase73_admin;Password=nolase2236A"
		  providerName="System.Data.SqlClient" />
		<add name="OkConexionBase" connectionString="Data Source=SQL5109.site4now.net;Initial Catalog=db_a7e850_consulbase73;User ID=db_a7e850_consulbase73_admin;Password=nolase2236A"
		  providerName="System.Data.SqlClient" />
		<add name="consulbase71ConnectionString1" connectionString="Data Source=SQL5109.site4now.net;Initial Catalog=db_a7e850_consulbase73;User ID=db_a7e850_consulbase73_admin;Password=nolase2236A"
		  providerName="System.Data.SqlClient" />
		<add name="consulbase71ConnectionString2" connectionString="Data Source=SQL5109.site4now.net;Initial Catalog=db_a7e850_consulbase73;User ID=db_a7e850_consulbase73_admin;Password=nolase2236A"
		  providerName="System.Data.SqlClient" />
		<add name="consulbase71ConnectionString3" connectionString="Data Source=SQL5109.site4now.net;Initial Catalog=db_a7e850_consulbase73;User ID=db_a7e850_consulbase73_admin;Password=nolase2236A"
		  providerName="System.Data.SqlClient" />
		<add name="contacasoConnectionString" connectionString="Data Source=SQL5109.site4now.net;Initial Catalog=db_a7e850_consulbase73;User ID=db_a7e850_consulbase73_admin;Password=nolase2236A"
		  providerName="System.Data.SqlClient" />
		<add name="ConsulCaso9ConnectionString" connectionString="Data Source=SQL5109.site4now.net;Initial Catalog=db_a7e850_consulbase73;User ID=db_a7e850_consulbase73_admin;Password=nolase2236A"
		  providerName="System.Data.SqlClient" />
		<add name="contacasoConnectionString1" connectionString="Data Source=SQL5109.site4now.net;Initial Catalog=db_a7e850_consulbase73;User ID=db_a7e850_consulbase73_admin;Password=nolase2236A"
		  providerName="System.Data.SqlClient" />
		<add name="contacasoConnectionString2" connectionString="Data Source=SQL5109.site4now.net;Initial Catalog=db_a7e850_consulbase73;User ID=db_a7e850_consulbase73_admin;Password=nolase2236A"
		  providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.web>

		<sessionState timeout="180" />



		<!--
    
    <sessionState cookieless="UseCookies" cookieName="ASP.NET_SessionId" regenerateExpiredSessionId="false" timeout="420" mode="InProc" stateNetworkTimeout="420" sqlCommandTimeout="420" compressionEnabled="false"/>
    
    <sessionState mode="StateServer"
      
      stateConnectionString="tcpip=127.0.0.1:42424"
      cookieless="false"
      timeout="420"
      stateNetworkTimeout="420"
                  
                  />
 -->
		<!--
    <sessionState mode="SQLServer"

                  timeout="420"
                  stateNetworkTimeout="420"
                  sqlCommandTimeout="420"
                  sqlConnectionString="Data Source=aspstateconsul.db.7425285.hostedresource.com;Initial Catalog=aspstateconsul;User ID=aspstateconsul;Password=micarro2236A"
                  allowCustomSqlDatabase="true"
                  
                  />
    
     -->
		<httpRuntime maxRequestLength="1024000" executionTimeout="25200"/>
		<roleManager enabled="true"/>
		<compilation debug="true" strict="false" explicit="true" targetFramework="4.0"/>
		<membership defaultProvider="MyMembershipProvider">
			<providers>
				<clear/>
				<add name="MyMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="LocalSqlServer" requiresQuestionAndAnswer="false" enablePasswordRetrieval="true" passwordFormat="Clear" minRequiredPasswordLength="1" applicationName="/" minRequiredNonalphanumericCharacters="0"/>
			</providers>
		</membership>
		<authentication mode="Forms">
			<forms loginUrl="~/Login.aspx"
			 defaultUrl="~/START/Default.aspx"  timeout="1440"/>
		</authentication>
		<authorization>
			<deny users="?"/>
			<allow users="*"/>
		</authorization>
		<pages>
			<controls>
				<add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI"/>
			</controls>
		</pages>
		<httpHandlers>
			<add path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" validate="false"/>
			<add path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" validate="false"/>
			<add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false"/>
			<add path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" validate="false"/>
			<add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false"/>
		</httpHandlers>
		<httpModules>
			<add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule"/>
		</httpModules>
		<customErrors mode="Off"/>
	</system.web>


	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules runAllManagedModulesForAllRequests="true">
			<remove name="RadUploadModule"/>
			<add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule" preCondition="integratedMode"/>
		</modules>
		<handlers>
			<remove name="ChartImage_axd"/>
			<remove name="Telerik_Web_UI_SpellCheckHandler_axd"/>
			<remove name="Telerik_Web_UI_DialogHandler_aspx"/>
			<remove name="Telerik_RadUploadProgressHandler_ashx"/>
			<remove name="Telerik_Web_UI_WebResource_axd"/>
			<add name="ChartImage_axd" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" preCondition="integratedMode"/>
			<add name="Telerik_Web_UI_SpellCheckHandler_axd" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" preCondition="integratedMode"/>
			<add name="Telerik_Web_UI_DialogHandler_aspx" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" preCondition="integratedMode"/>
			<add name="Telerik_RadUploadProgressHandler_ashx" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" preCondition="integratedMode"/>
			<add name="Telerik_Web_UI_WebResource_axd" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" preCondition="integratedMode"/>
		</handlers>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="1073741824"/>
			</requestFiltering>
		</security>
	</system.webServer>
	<system.net>
		<mailSettings>
			<smtp from="consultando@consultandoweb.com">
				<!--Cuenta válida en el servidor de correo SMTP-->
				<network host="smtp.live.com" password="61RPG6rbb14saj1q" userName="consultandoltda@hotmail.com" port="25" />
			</smtp>
		</mailSettings>
	</system.net>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="ContaCasoServiceSoap" />
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://localhost:52039/Service1.asmx" binding="basicHttpBinding"
			  bindingConfiguration="ContaCasoServiceSoap" contract="Consul9WebService.ContaCasoServiceSoap"
			  name="ContaCasoServiceSoap" />
		</client>
	</system.serviceModel>
</configuration>
