* {
	padding:0;
	margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}



.AlineacionCentro {

    
    align-content:center;
align-items: center;
text-align: center;
align-content: center;

}



 .FormatoDiv
{

     font-weight:bold;
   
    text-align: center;
    align-items:center;


    margin: auto;
    width: 95%;
    height: 100%;
    

    /*position: relative;*/
    background-color: #FFFFFF;
     
     
     border-radius: 25px 25px 25px 25px;
     padding:10px;
     
     box-shadow: 0px 0px 30px #003399;
   -moz-box-shadow: 0px 0px 30px #003399;
   -webkit-box-shadow: 0px 0px 30px #003399;
   -o-box-shadow:  0px 0px 30px #003399;
   
   /*behavior: url(pie/PIE.htc);*/

   
    
}

 .FormatoDiv2
{

     /*font-weight:bold;*/
   
    text-align: left;
    align-items:center;


    margin: auto;
    width: 95%;
    height: 100%;
    

    /*position: relative;*/
    background-color: #FFFFFF;
     
     
     border-radius: 25px 25px 25px 25px;
     padding:10px;
     
     box-shadow: 0px 0px 30px #003399;
   -moz-box-shadow: 0px 0px 30px #003399;
   -webkit-box-shadow: 0px 0px 30px #003399;
   -o-box-shadow:  0px 0px 30px #003399;
   
   /*behavior: url(pie/PIE.htc);*/

   
    
}
   


.FormatoDivGrande
{
    text-align: center;
    margin: auto;
    width: 95%;
    height: 100%;
    max-width: 500px;
    /*position: relative;*/
    background-color: #FFFFFF;
     
     
     border-radius: 25px 25px 25px 25px;
     padding:10px;
     
     box-shadow: 0px 0px 30px #FFCC00;
   -moz-box-shadow: 0px 0px 30px #FFCC00;
   -webkit-box-shadow: 0px 0px 30px #FFCC00;
   -o-box-shadow:  0px 0px 30px #FFCC00;
   
   behavior: url(pie/PIE.htc);
   
    
}


.FormatoDivOtro
{
    text-align: center;
    margin: auto;
    width: 95%;
    height: 100%;
    max-width: 500px;
    /*position: relative;*/
    background-color: #FFFFFF;
     
     
     border-radius: 25px 25px 25px 25px;
     
     
     box-shadow: 0px 0px 30px #FFCC00;
   -moz-box-shadow: 0px 0px 30px #FFCC00;
   -webkit-box-shadow: 0px 0px 30px #FFCC00;
   -o-box-shadow:  0px 0px 30px #FFCC00;
   
   behavior: url(pie/PIE.htc);
   
    
}



body {
	

    /* text-align: center;*/
    margin: 0px;
    background-image: url('Transparente.png');
    background-repeat: repeat;
    /*font-family: 'Eras Medium ITC';*/


    /*font-family:'Agency FB';*/

    font-family:'Arial';


}

header {


	width:100%;
}





section nav ul li {
	float: none;
}


section nav ul {
	list-style:none;
	overflow:hidden;
}



header nav {
	width:90%;
	margin:20px auto;
	max-width:1000px;
	background:#ffffff;

     border-radius: 25px 25px 25px 25px;
     padding:10px;
     
     box-shadow: 0px 0px 30px #FFCC00;
   -moz-box-shadow: 0px 0px 30px #FFCC00;
   -webkit-box-shadow: 0px 0px 30px #FFCC00;
   -o-box-shadow:  0px 0px 30px #FFCC00;


    /*
     background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support 
     background: rgba(204, 204, 204, 0.5);
    
    */


}

.menu_bar {
	display:none;
}

header nav ul {
	list-style:none;
	overflow:hidden;
}

header nav ul li {
	float: left;
}

header nav ul li span {
	margin-right:10px;
}

header nav ul li a{
	display:block;
	padding:20px;
	color:#000000;
	text-decoration:none;
    font-weight:bold;
}

header nav ul li a:hover {
	background:#037E8C;
}

section {
    text-align: center;
	padding:20px;
}

@media screen and (max-width:5000px) {
	header nav {
		width:80%;
		height:100%;
		margin:0;
		position: fixed;
		left:-100%;
		/*top:0px;*/
		overflow:auto;

	}

	.menu_bar {
		display:block;
		width:100%;
		/*background:#ccc;*/

       

	}

	.menu_bar .bt-menu {
		display:block;
		padding:20px;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
		background:#FFFFFF;
		overflow: hidden;
		font-size:25px;
		font-weight:bold;
		color:#000000;
		text-decoration:none;

        border-radius: 25px 25px 25px 25px;
     padding:10px;
     
     box-shadow: 0px 0px 30px #FFCC00;
   -moz-box-shadow: 0px 0px 30px #FFCC00;
   -webkit-box-shadow: 0px 0px 30px #FFCC00;
   -o-box-shadow:  0px 0px 30px #FFCC00;


       

        
	}

	.menu_bar span {
		float:right;
		font-size:40px;
	}

	header nav ul li {
		display:block;
		float:none;
		border-bottom:1px solid rgba(255,255,255,.3);
	}


     a, a:visited, a:hover, a:active {
  color: #003399;
}


}