
body {
	

    /* text-align: center;*/
    margin: 0px;
    background-image: url('ReciboCajaLegis2.jpg');
    
    
    background-repeat:no-repeat;
    /*font-family: 'Eras Medium ITC';*/


    /*font-family:'Agency FB';*/

    /*font-family:'Arial';*/


}